body{
	font-size: 18px;
	color: white;
	background-color: #191e22;
}

h1{
	border-style: double;
	border-radius: 50px;
	border-width: 7px;
	border-color: #e3dec8;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: 'Didact Gothic', arial;
	color: #e3dec8;
}

h2{
	color: #e3dec8;
}

h3{
	color: #e3dec8;
}

p{
	color: #e3dec8;
}

#maincontent{
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
	border-style: double;
	border-color: white;
	border-width: 7px;
}

nav{
	display: inline;
}
	
nav ul{		
	list-style-type: none;
	margin: 0;
	padding: 0;		
	top: 0;
	left: 0;
	background-color: #384951;
	width: 100%;
	position: fixed;
}
	
nav ul li{
	float: left;
	border-right: 1px solid white;
}


nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 20px;
	border-width: 1px;
	border-style: solid;
}

nav ul li a:hover{
	background-color: #555;
	color: #fff;
}

@media screen and (max-width: 600px){
	nav{
		display: inline;
	}
	
	nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		background-color: #384951;
		width: 100%;
		position: fixed;
	}
	
	nav ul li{
		float: left;
		border-right: 1px solid white;
	}
	
	nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		padding-left: 20px;
		padding-top: 6px;
		padding-bottom: 6px;
		border-width: 1px;
		border-style: solid;
		padding-right: 20px;
		font-size: 0.9em;
	}
	
	#mainContent {
	margin-left: 2%;
	padding-left: 0;
	margin-right: 2%;
	}
	
	img{
		max-width: 100%;
		height: auto;
	}
}
